<<<<<<< HEAD
<%= javascript_include_tag 'jquery.dataTables.min' %>

<!-- Inicio do report de erros -->

<% if @cliente.errors.any? %>
=======
<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
<<<<<<< HEAD

        <li><%= message %></li>

=======
        <li><%= message %></li>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD
  <!-- Fim do Report de erros -->

  <!-- Inicio barra lateral -->
<div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar">
                        <li id="clientgrid" class="active" ><a>
                            <span class="mif-apps icon"></span>
                            <span class="title">Listar Clientes</span>
                            
                        </a></li>
                        <li id="calo" ><a >
                            <span class="mif-vpn-publ icon"></span>
                            <span class="title">Locais de Atendimento</span>
                            
                        </a></li>
                 
                    </ul>
                </div>

 <!-- Fim de Barra Lateral -->
  <!-- Conteudo da Página -->
<div id="inserthere"> </div>
  <div class="cell auto-size padding20 bg-white" id="cli">
                    <h1 class="text-light"> Painel de Clientes </h1>
                    <hr class="thin bg-grayLighter">
                    <br />
                    <br />
                    <br /> 
                    <button class="button primary" id="add" ><span class="mif-plus"></span> Novo Cliente</button>
         
                    <hr class="thin bg-grayLighter" > 

                   
                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">

                        <thead>
                        <tr>
                            
                            <td class="sortable-column sort-asc" style="width: 10px">ID</td>
                          <td class="sortable-column" style="width: 60px">Nome:</td>
                           
                            <td class="sortable-column" style="width: 45px">Email:</td>
                            <td style="width: 45px">Telefone:</td>
                            <td style="width: 5px">Ações:</td>
                        </tr>
                        </thead>

                        <tbody>
                           <% @clientes.each do |cliente| %>
                           
                        <tr>
                            <td><%= cliente.id %></td>
                            <td><%= cliente.name %></td>
 <td><%= cliente.email %></td>
 <td><%= cliente.telefone %></td>
  <td> <%= link_to 'Alterar', edit_cliente_path(cliente) , class: 'm-btn green icn-only' %> <%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-btn red icn-only'  %>  </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>


<!--  Conteudo Local -->

  <div class="cell auto-size padding20 bg-white" id="local">
                    <h1 class="text-light"> Locais de Atendimento </h1>
                    <hr class="thin bg-grayLighter">
                    <br />
                    <br />
                    <br /> 
                    <button class="button primary" id="addlocal" ><span class="mif-plus"></span> Adicionar Local</button>
         
                    <hr class="thin bg-grayLighter" > 

                   
                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">

                        <thead>
                      
                            <td class="sortable-column sort-asc" style="width: 10px">ID</td>
                           <td class="sortable-column" style="width: 45px">Cliente:</td>
                           
                            <td class="sortable-column" style="width: 45px">Logradouro:</td>
                            <td style="width: 45px">CEP:</td>
     <td style="width: 45px">Estado:</td>
     <td style="width: 45px">Cidade:</td>
     <td style="width: 45px">Distancia em KM:</td>
     <td style="width: 5px"> Ações: </td>
                        </tr>
                        </thead>

                        <tbody>
                           <% @locals.each do |local| %>
                           
                        <tr>
                          
                            <td><%= local.id %></td>
                            <td><%= local.cliente.name %></td>
 <td><%= local.logra %></td>
 <td><%= local.cep %></td>
 <td><%= local.uf %></td>
 <td><%= local.city %></td>
 <td><%= local.km %></td>
   <td> <%= link_to 'Alterar', edit_local_path(local) , class: 'm-btn green icn-only' %> <%= link_to 'Excluir', local, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-btn red icn-only'  %>  </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>

<!-- Final da  conteudo  de local -->



<!-- Inicio do Cad Cliente JS --> 

 <div class="cal-form padding20 block-shadow">
   
         <span class="m-btn blue-stripe">Cadastro de Cliente</span>  <button style="float: right;" id="fecharcad" class="button alert" onclick="pushMessage('alert')">Cancelar</button>
            <hr class="thin"/>
            <br />
             <%= nested_form_for @cliente do |f| %>
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Nome Cliente/Fantasia: </label>
                 <%= f.text_field :name, id: 'user-login', :required => true , placeholder: "Nome do Cliente"%>
               
            </div>
           
  <br />
  <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Telefone:</label>  
                    <%= f.text_field :telefone, id: 'user-login', required: true, placeholder: "Telefone de Contato" %>
             
            </div>

  <br />
  <br />

<div class="input-control text full-size" data-role="input">
                <label for="user_login">Email:</label>
                
 <%= f.text_field :email, id: 'user_login', required: true, placeholder: "Endereço de Email" %>
             
            </div>
  <br />

  <br />

            <br />  

   <%= f.fields_for :locals do |ff| %> 


<%= ff.text_field :logra, placeholder: "Logradouro"  %>  
  <%= ff.text_field :cep, placeholder: "CEP"  %>  
      <%= ff.text_field :uf, placeholder: "Estado"  %> 
   <%= ff.text_field :city , placeholder: "Cidade" %> 
   <%= ff.text_field :km , placeholder: "Distância"%>
<br />
<%= ff.link_to_remove "X",class: 'm-btn red icn-only' %>


<% end %>


 

 <%= f.link_to_add "Adicionar Local", :locals, class: 'button success' %> <br>
<br>
  <div class="actions">
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
  </div>
<% end %>
  </div>


</div>


<!-- Inicio Local cad--> 



<div class="calo-form padding20 block-shadow">
      <span class="m-btn blue-stripe">Adicionar Local de Atendimento</span>  <button style="float: right;" id="fecharcalo" class="button alert" onclick="pushMessage('alert')">Voltar</button>
       
            <hr class="thin"/>
            <br />
             <%= form_for(@local) do |f| %>
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Cliente: </label>
                 
  <%= f.collection_select(:cliente_id, Cliente.all, :id, :name, prompt: "Selecionar Cliente", id: 'user-login') %>
                
            </div>
           
  <br />
  <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Logradouro:</label>  
               
                  <%= f.text_field :logra, id: 'user-login', required: true, placeholder: "Endereço Completo" %>
            </div>

  <br />
  <br />
         <div class="input-control text full-size" data-role="input">
                <label for="user_login">CEP:</label>      
                <%= f.text_field :cep, id: 'user-login', required: true, placeholder: "CEP" %>
            </div>

  <br />
  <br />
      <div class="input-control text full-size" data-role="input">
                <label for="user_login">Estado:</label>      
                <%= f.text_field :uf, id: 'user-login', required: true, placeholder: "Estado/Região" %>
            </div>

  <br />
  <br />
   <div class="input-control text full-size" data-role="input">
                <label for="user_login">Cidade:</label>      
                <%= f.text_field :city, id: 'user-login', required: true, placeholder: "Cidade" %>
            </div>

  <br />
  <br />
   <div class="input-control text full-size" data-role="input">
                <label for="user_login">Distancia:</label>      
                <%= f.number_field :km, id: 'user-login', required: true, placeholder: "Distancia em KM" %>
            </div>

  <br />
  <br />
 
<br>
  <div class="actions">
  <%= f.submit 'Adicionar', class: 'm-btn blue' %>
  </div>

<% end %>
  </div>


</div>



 
=======

 <div class="form-group">
    <%= f.label :name, "Nome do Cliente" %><br>
    <%= f.text_field :name, class: 'namecli', :required => true %>
  </div>
 <div class="form-group">
    <%= f.label :telefone %><br>
    <%= f.text_field :telefone, :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :celular %><br>
    <%= f.text_field :celular, :required => true %>
  </div>
 <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'namecli', :required => true %>
  </div>

   <%= f.fields_for :local do |ff| %>
<table> 
<tr>
<th>
    <%= ff.label :logra, "Logradouro" %><br></th>
<th>
     <%= ff.label :cep, "CEP" %></th>
<th>
     <%= ff.label :uf, "Estado" %></th>
<th>
    <%= ff.label :city, "Cidade" %></th>
<th>  <%= ff.label :km, "Distancia em KM" %> </th>
</tr>
<tbody class="tabela">
<tr class="linha" >
<td>  <%= ff.text_field :logra,  :required => true %>  </td>
    <td>  <%= ff.text_field :cep , :required => true %>  </td>
<td>      <%= ff.text_field :uf , :required => true %>  </td>
<td>   <%= ff.text_field :city , :required => true %>  </td>
<td>   <%= ff.text_field :km, :required => true %> </td>
<td><%= f.button 'Remover Local', type: 'button', class: 'remover' %></td>

</tr>
</tbody>
</table>

<% end %> 
  <div class="actions">
 <%= f.button 'Adicionar Local', type: 'button', class: 'adicionar' %> <br>
<br>
  <%= f.submit 'Enviar', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
