
<<<<<<< HEAD
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="bodao">
<body class="bg-darkTeal">

 <div class="catask-form padding20 block-shadow">
<span class="m-btn blue-stripe">Cadastrar Atividades</span>
            <hr class="thin"/>
            <br />
            <%= nested_form_for @task do |f| %>
<div class="treeview" data-role="treeview">
<ul>
<div class="input-control text full-size" data-role="input">
<%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, prompt: "Projeto" %> 
 </div>

<ul>

  
<div class="field>
<%= f.label :parent_id %><br>
<%= f.select :parent_id, nested_set_options(Task){|i| "#{'-' * i.level} #{i.name}" }, { select: @task.parent_id, include_blank: true} %>
</div>
 
<li>

 
</li>



<% end %>

<ul>







 



<ul>


</ul>
</ul>
</ul>
</ul>
<br>
</div>
  <br> <br> <br>

 

  <div class="actions">



 
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
</div>
<br><% end %>
</div>
</div>

=======
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
  <% end %>
<div>
  <ul>
  <li>
      <%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, prompt: "Projeto" %>
   <ul class="tabela"> 
   <li class="pai">

      <%= f.number_field :seq  %>
 <%= f.text_field :descr%>
     <%= f.select("typo", {"Sintetica" => "Sintetica"}) %>
  <%= f.button '+Pai', type: 'button', class: 'adicionarp' %>
      <%= f.button '-Pai', type: 'button', class: 'remover' %>
  <ul class="tabelap">
<li class="filho">
      <%= f.number_field :seqpai %>
  
 <%= f.text_field :descr%>
    
      <%= f.select("typo", {"Analitica" => "Analitica"}) %>
    
      
      <%= f.number_field :hour %>
<%= f.button '+Filho', type: 'button', class: 'adicionarf' %>
      <%= f.button '-Filho', type: 'button', class: 'remover' %>
  <ul class="tabelan">
<li class="neto">
      <%= f.number_field :seqpai %>
  
 <%= f.text_field :descr%>
    
      <%= f.select("typo", {"Analitica" => "Analitica"}) %>
    
      
      <%= f.number_field :hour %>
<%= f.button '+Neto', type: 'button', class: 'adicionarn' %>
      <%= f.button '-Neto', type: 'button', class: 'remover' %>


</li>  </ul> </li></ul></li></ul>
     
    </div>   
  
<br>
 <div class="remover">
  
      </div>
<div class="actions">

 
   
  <%= f.submit 'Enviar', class: 'btn btn-primary btn-lg' %>
</div>
<br>
<% end %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
