<%= form_for(@conditional) do |f| %>
  <% if @conditional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conditional.errors.count, "error") %> prohibited this conditional from being saved:</h2>

      <ul>
      <% @conditional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD


<div id="bodao">
<body class="bg-darkTeal">

 <div class="cap-form padding20 block-shadow">
<span class="m-btn red-stripe">Cadastrar Condicional</span>
            <hr class="thin"/>
            <br />

<div class="input-control text full-size" data-role="input">
    <label for="user_login">Projeto: </label>
    <%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, include_blank: true, class: 'form-control' %>
  </div>
<br />
<br />


<label class="input-control checkbox"> Translado: </label>
    <%= f.check_box :transla %> 
<label class="input-control checkbox"> Intervalo: </label>
    <%= f.check_box :interval %> 

<br />
<br />
  <div class="input-control text full-size" data-role="input">
     <label for="user_login">Descrição:</label> 
<%= f.text_area(:why, :required => true, :size => 2) %>
  </div>
<br />
<br />
<br />
<br />
<br />
<br />

   <label for="user_login">Data:</label>
   <%= f.date_select :data, :required => true, class: 'input-control text' %>

 
<br />
<br />
<label for="user_login">Duração:</label>
    <%= f.time_select(:time) %>
<br />
<br />
<br />

  <div class="input-control text" data-role="input">
    <label for="user_login">Distancia em KM: </label>
    <%= f.number_field :km %>
  </div>



     

<br />
<br />
<br />
<br />
  

  <div class="actions">
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
=======
<div class="form-group">
    <%= f.label :projeto_id, "Projeto da Condicional" %><br>
    <%= f.grouped_collection_select :projeto_id, Cliente.order(:name), :projetos, :name, :id, :name, include_blank: true, class: 'form-control' %>
  </div>
<div class="form-group">
    <%= f.label :transla, "Translado?" %><br>
    <%= f.check_box :transla %>
  </div>
<div class="form-group">
    <%= f.label :interval, "Intervalo?" %><br>
    <%= f.check_box :interval %>
  </div>
  <div class="form-group">
    <%= f.label :km, "Distancia em KM" %><br>
    <%= f.number_field :km %>
  </div>
  <div class="form-group">
    <%= f.label :data, "Data da Condicional" %><br>
    <%= f.date_select :data %>
  </div>
 <div class="form-group">
    <%= f.label :why, "Comentário sobre Condicional" %><br>
    <%= f.text_field :why , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :time, "Horas da Condicional" %><br>
    <%= f.text_field :time %>
  </div>

  

  <div class="actions">
   <%= f.submit 'Enviar', class: 'btn btn-primary btn-lg' %>
>>>>>>> ad10758ddfdbf1227205791189757be3232ce289
  </div>
<% end %>
