<p id="notice"><%= notice %></p>

<h1>Listing Conditionals</h1>

<table>
  <thead>
    <tr>
      <th>Transla</th>
      <th>Interval</th>
      <th>Km</th>
      <th>Data</th>
      <th>Why</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conditionals.each do |conditional| %>
      <tr>
  <td><%= conditional.projeto_id %></td>
        <td><%= conditional.transla %></td>
        <td><%= conditional.interval %></td>
        <td><%= conditional.km %></td>
        <td><%= conditional.data %></td>
        <td><%= conditional.why %></td>
        <td><%= conditional.time %></td>
        <td><%= link_to 'Show', conditional %></td>
        <td><%= link_to 'Edit', edit_conditional_path(conditional) %></td>
        <td><%= link_to 'Destroy', conditional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conditional', new_conditional_path %>
