<h1>Cadastro de Consultor</h1>



<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>
  <div class="form-group">
    <%= f.label :name, "Nome do Consultor" %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
<div class="form-group">
    <%= f.label :role, "Nível" %>
     <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
  </div>
<div class="form-group">
    <%= f.label :celular %>
    <%= f.text_field :celular, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Senha" %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Repetir Senha" %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>
  <%= f.submit 'Cadastrar', class: 'btn btn-primary btn-lg' %>

<% end %>
