
<%= javascript_include_tag 'jquery.dataTables.min' %>

<!-- Inicio do report de erros -->

  <!-- Fim do Report de erros -->

  <!-- Inicio barra lateral -->
<div class="page-content">
        <div class="flex-grid no-responsive-future" style="height: 100%;">
            <div class="row" style="height: 100%">
                <div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
                    <ul class="sidebar">
                        <li id="consultgrid" class="active" ><a>
                            <span class="mif-apps icon"></span>
                            <span class="title">Listar Consultores</span>
                            
                        </a></li>
                        <li id="calo" ><a >
                            <span class="mif-vpn-publ icon"></span>
                            <span class="title">Locais de Atendimento</span>
                            
                        </a></li>
                 
                    </ul>
                </div>

 <!-- Fim de Barra Lateral -->

 <!-- Inicio Main BG  Plus Cad user -->

<div id="inserthereconsul"> </div>
  <div class="cell auto-size padding20 bg-white" id="cli">
                    <h1 class="text-light"> Painel de Consultores </h1>
                    <hr class="thin bg-grayLighter">
                    <br />
                    <br />
                    <br /> 
                    <button class="button primary" id="addconsultor" ><span class="mif-plus"></span> Cadastrar Consultor</button>
         
                    <hr class="thin bg-grayLighter" > 

                    <table class="dataTable border bordered" data-role="datatable" data-auto-width="false">

                        <thead>
                        <tr>
                            
                            <td class="sortable-column sort-asc" style="width: 10px">ID</td>
                          <td class="sortable-column" style="width: 60px">Nome:</td>
                           
                            <td class="sortable-column" style="width: 45px">Email:</td>
                            <td style="width: 45px">Celular:</td>
<td style="width: 45px"> Qtd Projetos:</td>
<td style="width: 45px">Qtd Relatórios:</td>
<td style="width: 45px">Acesso:</td>
                            <td style="width: 5px">Ações:</td>
                        </tr>
                        </thead>

                        <tbody>
                           <% @users.each do |user| %>
                           
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
 <td><%= user.email %></td>
 <td><%= user.celular %></td>
 <td><%= %></td>
 <td><%= user_report %></td>
 <td><%= user.role %></td>
  <td> <%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'm-btn red icn-only'  %>  </td>
                            
                          
                           
                        </tr>
                        
                        <% end %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>


 <!-- Fim Main BG  -->







<!-- Inicio main cad consultor -->

<body class="bg-darkTeal">

    <div class="cad-form padding20 block-shadow" id="cadconsultor">
    
         <span class="m-btn red-stripe">Cadastro de Consultor</span>
            <hr class="thin"/>
<%= form_for @user do |f| %>
            <br />
            <div class="input-control text full-size" data-role="input">
                <label for="user_login">Nome Completo:</label>
                
 <%= f.text_field :name, id: 'user-login', required: true, placeholder: "Nome do Usuario" %>
                
            </div>
            <br />
            <br />
   <div class="input-control text full-size" data-role="input">
              <label for="user_login">Acesso:</label>

 <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize} , class: 'm-wrap') %>
                
            </div>
  <br />
  <br />
  <br />
<div class="input-control text full-size" data-role="input">
                <label for="user_login">Telefone:</label>
                
 <%= f.text_field :celular, id: 'user-login', required: true, placeholder: "Contato do Usuario" %>
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>

  <br />
  <br />

<div class="input-control text full-size" data-role="input">
                <label for="user_login">Email:</label>
                
 <%= f.text_field :email, id: 'user_login', required: true, placeholder: "Endereço de Email" %>
                <button class="button helper-button clear"><span class="mif-cross"></span></button>
            </div>
  <br />

  <br />

<div class="input-control password full-size" data-role="input">
                <label for="user_password">Senha:</label>
             
 <%= f.password_field :password, id: 'user_password', required: true , placeholder: "Senha" %>
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>
  <br />  <br />
<div class="input-control password full-size" data-role="input">
                <label for="user_password">Confirmar Senha:</label>
             
  <%= f.password_field :password_confirmation, id: 'user_password', required: true, placeholder: "Confirmar Senha" %>
                <button class="button helper-button reveal"><span class="mif-looks"></span></button>
            </div>


            <div class="form-actions">
                
  <%= f.submit 'Cadastrar', class: 'm-btn blue' %>
              
            </div>
  <br />  <br />

            <br />
            <br />

      
    </div>


</div>

<% end %>



